@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import './variables.css';

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color : var(--grey);
    min-width: 90%;
}

.sub-container {
    width: 90%;
    border-radius: 0px;
}

.personal-data-fields-container {
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    width: 100%;
}

.job-data-fields-container {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    width: 100%;
}

.save-button {
    margin-top: 50px;
}
