@import './variables.css';

.secondary-add-button {
    background-color : #cac2e2;
}

.go-back-button {
    text-decoration: none;
    width: 10%;
    background-color: var(--uam-blue);
}

.go-back-button{
    text-decoration: none;
    width: 20%;
    background-color: var(--uam-blue);
    color : black;
}

.go-back-button:visited{
    text-decoration: none;
    background-color: inherit;
    color : inherit
}
